<div>
  <h3>Updating id: {{user.id}}</h3>
  <div class="updateDiv">
    <form>
      <label>Username</label>    <input type="text" id="uname" name="username" [(ngModel)]="user.username"><br/><br/>
      <label>Email</label>    <input type="text" id="email" name="email" [(ngModel)]="user.email"><br/><br/>
      <label>First Name</label>    <input type="text" id="fname" name="firstname" [(ngModel)]="user.firstName"><br/><br/>
      <label>Last Name</label>    <input type="text" id="lname" name="lastname" [(ngModel)]="user.lastName"><br/><br/>
      <div class="buttDiv">
        <button class="butt" (click)="updateUser(user)">Update</button>
      </div>
    </form>
  </div>
</div>
