<div>
  <div class="updateDiv">
    <h1>Create</h1>
    <form>
      <label>Username</label>    <input type="text" id="uname" name="username" [(ngModel)]="user.username" required><label>{{unameExists}}</label><br/><br/>
      <label>Email</label>    <input type="text" id="email" name="email" [(ngModel)]="user.email" required>{{mailExists}}<br/><br/>
      <label>First Name</label>    <input type="text" id="fname" name="firstname" [(ngModel)]="user.firstName" required><br/><br/>
      <label>Last Name</label>    <input type="text" id="lname" name="lastname" [(ngModel)]="user.lastName" required><br/><br/>
<!--      <label>Password</label>    <input type="password" id="pass" name="password" [(ngModel)]="password.value" required><br/><br/>-->
      <div class="buttDiv">
        <button class="butt" (click)="createUser()">Create</button>
      </div>
      <p>{{created}}</p>
    </form>
  </div>
</div>
