<h1>Admin Panel</h1>
<a href="http://nl-svr-bda1:9595/auth/admin/master/console/#/realms/master">Keycloak Panel</a>
<h2>Users</h2>
<button id="create"><a [routerLink]="['/createuser']" class="edit">Create</a></button><p>&nbsp;</p>
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
  <thead>
  <tr>
    <th>ID</th>
    <th>Username</th>
    <th>Email</th>
    <th>Full Name</th>
    <th>CreatedTimeStamp</th>
    <th>Verified</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let person of users">
    <td>{{ person.id }}</td>
    <td>{{ person.username }}</td>
    <td>{{ person.email }}</td>
    <td>{{ person.firstName }} {{ person.lastName }}</td>
    <td>{{ person.createdTimestamp | date: 'dd-MM-yyyy' }}</td>
    <td>{{ person.emailVerified }}</td>
    <td><button><a [routerLink]="['/updateuser', {userId: person.id, username: person.username,
      email: person.email, firstname: person.firstName, lastname: person.lastName}]" class="edit">Modify</a></button>
     &nbsp; <button (click)="deleteUser(person);">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
