tr.deleted {
  background-color: #666666;
  color: azure;
}
a.edit {
  color: black;
  text-decoration: none;
}
#create {
  font-size: 1.2em;
  text-decoration: none;
  font-weight: 700;
  padding: .35em 1em;
  background-color: #eaeef1;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .1));
  border-radius: 3px;
  color: rgba(0, 0, 0, .6);
  text-shadow: 0 1px 1px rgba(255, 255, 255, .7);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .2), 0 1px 2px rgba(0, 0, 0, .2), inset 0 1px 2px rgba(255, 255, 255, .7);
}
