<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="container" style="margin-top: 5%">
  <div class="row">
    <div class="col-lg-7 col-centered">
      <div class="panel panel-default">
        <div class="panel-heading">  <h4>Your Profile</h4></div>
        <div class="panel-body">
          <div class="box box-info">
            <div class="box-body">
              <div class="col-sm-6">
                <div  align="center"> <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive">
                  <input id="profile-image-upload" class="hidden" type="file">
                </div>
                <br>
                <!-- /input-group -->
              </div>
              <div class="col-sm-6">
                <h4 style="color:#00b1b1;">{{firstname}} {{lastname}}</h4>
                <span><p>You are in {{roles.length}} roles:</p></span>
                <ul *ngFor="let r of roles">
                  <li>{{r}}</li>
                </ul>
                <br/><br/><br/>
              </div>
              <div class="clearfix"></div>
              <hr style="margin:5px 0 5px 0;">
              <div class="col-sm-5 col-xs-6 tital " >Email:</div><div class="col-sm-7 col-xs-6 ">{{username}}</div>
              <div class="clearfix"></div>
              <div class="bot-border"></div>
              <div class="col-sm-5 col-xs-6 tital " >First Name:</div><div class="col-sm-7"> {{firstname}}</div>
              <div class="clearfix"></div>
              <div class="bot-border"></div>
              <div class="col-sm-5 col-xs-6 tital " >Last Name:</div><div class="col-sm-7">{{lastname}}</div>
              <div class="clearfix"></div>
              <div class="bot-border"></div>
              <div class="col-sm-5 col-xs-6 tital " >Verified:</div><div class="col-sm-7">{{verified}}</div>
              <div class="clearfix"></div>
              <div class="bot-border"></div>
              <br/>
              <div class="divMod">
                <p><a (click)="changeProfile()" class="butt">Edit details</a></p>
              </div>
              <div class="clearfix"></div>
              <div class="bot-border"></div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
        </div>
      </div>
    </div>
    <script>
      $(function() {
        $('#profile-image1').on('click', function() {
          $('#profile-image-upload').click();
        });
      });
    </script>
  </div>
</div>




