<ul>
  <li id="manage" *ngIf="userIsAdmin()"><a [routerLink]="['/admin']" [routerLinkActive]="['active']">Manage users</a></li>
  <li><a (click)="logout()">Logout</a></li>
  <li><a [routerLink]="['/user']" [routerLinkActive]="['active']" href="user">My Account</a></li>
  <li><a [routerLink]="['/dashboard']" [routerLinkActive]="['active']" href="dashboard">Dashboard</a></li>
</ul>
<br/>
<router-outlet></router-outlet>
